{% load static %}

<link rel="stylesheet" href="{% static 'unsplash_app/nav.css' %}"> 

<div class="section__nav">
    <a class="nav-logo" href="#"><img src="{% static 'unsplash_app/images/unsplash_logo.png' %}" alt="Logo"></a>
    <ul class="nav_links">
        <li class="nav-item" id="explore"><a href="#">Explore</a></li>
        <li class="nav-item"><a href="#">Advertise</a></li>
        <li class="nav-item"><a href="#">Unsplash+</a></li>
        {% if not logged_in  %}
            <li class="nav-item" id="nav_login"><a href="{% url 'login' %}">Log in</a></li>
            <li class="nav-item nav-submit"><a href="{% url 'sign-up' %}">Sign Up</a></li>
        {% else %}
            <li>Logged In</li>
        {% endif %}
    </ul>
</div>