{% extends 'base.html' %}
{% load static %}

{% block title %}
    Unsplash Clone
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'unsplash_app/index.css' %}">
    <link rel="stylesheet" href="{% static 'unsplash_app/includes/base.css' %}">
    <link rel="stylesheet" href="{% static 'unsplash_app/icofont/icofont.min.css' %}">
{% endblock css_files %}

{% block content %}
    {% include "unsplash_app/includes/nav.html" %}
    <header class="section__header" id="section-header">
        <div class="header_container">
            <h1 class="header_title">Unsplash</h1>
            <p class="header_para">The internet's source for visuals.<br>Powered by creators everywhere.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="search_text" class="search_box" placeholder="search">
            </form>
            <p class="header_trending">Trending: <span>flower, wallpapers, backgrounds</span></p>
        </div>
    </header>
    <section class="image_gallery">
        <h1>Image Gallery</h1>
        {% for img in images %}
                {% include "unsplash_app/includes/all-posts.html" %}
        {% endfor %}
    </section>
    <section class="modal hidden">
        <img
          download
          src="{% static '/unsplash_app/images/brown.jpg' %}"
          alt=""
        />
        <div class="modal-nav">
          <div class="modal_top-left">
            <h2 id="photographer">Lucus Bordiao</h2>
            <p>Available for hire &#x2713;</p>
          </div>
          <div class="modal_top-right">
            <i class="icon icofont-heart"></i>
            <i class="icon icofont-plus"></i>
            <a class="btn-download">Download</a>
            <select class="dropdown">
              <option value="full">Large</option>
              <option value="regular">Medium</option>
              <option value="small">Small</option>
            </select>
          </div>
        </div>
      </section>
  
      <div class="overlay hidden">
        <p>x</p>
      </div>
        {% include "unsplash_app/includes/footer.html" %}

        <script>
            var imagesData = JSON.parse('{{ json_img|escapejs }}');
        </script>
    
        <script id="script" src="{% static 'unsplash_app/js/app.js'%}"></script> 
{% endblock content %}
