{% extends 'base.html' %}
{% load static %}

{% block title %}
    Testing
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'unsplash_app/index.css' %}">
    <link rel="stylesheet" href="{% static 'unsplash_app/includes/base.css' %}">
{% endblock css_files %}

{% block content %}
    {% include "unsplash_app/includes/nav.html" %}
    <header class="section__header" id="section-header">
        <div class="header_container">
            <h1 class="header_title">Unsplash</h1>
            <p class="header_para">The internet's source for visuals.<br>Powered by creators everywhere.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="search_text" class="search_box" placeholder="search">
            </form>
            <p class="header_trending">Trending: <span>flower, wallpapers, backgrounds</span></p>
        </div>
    </header>
    {% for img in images %}
            {% include "unsplash_app/includes/all-posts.html" %}
    {% endfor %}
        {% include "unsplash_app/includes/footer.html" %}
{% endblock content %}
