{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'unsplash_app/index.css' %}">
    <link rel="stylesheet" href="{% static 'unsplash_app/includes/base.css' %}">
{% endblock css_files %}

{% block title %}
    Testing
{% endblock title %}

{% block content %}
    {% include "unsplash_app/includes/nav.html" %}
    <header class="section__header" id="section-header">
        <div class="header_container">
            <h1 class="header_title">Unsplash</h1>
            <p class="header_para">The internet's source for visuals.<br>Powered by creators everywhere.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="search_text" class="search_box" placeholder="search">
            </form>
            <p class="header_trending">Trending: <span>flower, wallpapers, backgrounds</span></p>
        </div>
    </header>
    {% comment %} <div class="row">
    {% for key, img in images.items %}
        <div class="col-1-of-3">
            <img src=  {{ img.urls.small }} alt="">
            <h2>{{ img.likes }}</h2>
            <p>{{ img.alt_description}}</p>
        </div>
    {% endfor %}
    </div> {% endcomment %}
    
    {% comment %} {% for index, img in enumerate(images) %}
        {% if index%3 == 0 %}
            <div class="row">
        {% endif %}
            <div class="col-1-of-3">
                <img src=  {{ img.urls.small }} alt="">
                <h2>{{ img.likes }}</h2>
                <p>{{ img.alt_description}}</p>
            </div>
        {% if index%3 == 0 %}
            </div>
        {% endif %}
        {% if len(images)%3 != 0 %}</div>{% endif %}
    {% endfor %}

    {% for img_list in  %}{% endfor %} {% endcomment %}

    {% for img in images %}
            {% include "unsplash_app/includes/all-posts.html" %}
    {% endfor %}
        {% include "unsplash_app/includes/footer.html" %}
{% endblock content %}
